.header {
  height: 60px;  
  display: flex;
  align-items: center;
  background-color:#cc5500;
  position: sticky;
  top: 0;
  z-index: 100;    
  overflow-x: scroll;
}
.header::-webkit-scrollbar {
  display: none;
}

.header__logo {
    width: 140px;
    object-fit: contain;
    margin: 0 20px;   
    
}

.header__search {
  display: flex;
  
  align-items: center;
  width: 810px;
  
}

.header__searchInput {
  height: 14px;
  padding: 10px;
  border: none;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.header__searchIcon {
  padding: 5px;
  height: 24px !important;
  background-color:#0F3657;
  border-radius: 2px;
  color: #cc5500 ;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.header__nav {
   display: flex;
   justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: #0F3657;
}

.header__optionLineOne {
  font-size: 12px;
}

.header__optionLineTwo {
  font-size: 16px;
  font-weight: 800;
}

.header__optionBasket {
  color: #0F3657;
  display: flex;
  align-items: center;
  margin-left: 8px;
}
.header__optionBasket > .MuiSvgIcon-root {
 font-size: 38px;
}

.header__basketCount {
  margin-left: 2px;
  margin-right: 10px;
}



