.home {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    background: linear-gradient(180deg, rgba(19,38,79,1) 0%, rgba(22,147,198,1) 52%, rgba(255,255,255,0) 82%);
    /* height: 1200px; */
} 
.home__topMenu {
    /* flex: 1; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    height: 160px;
    overflow-x: scroll;
}
.home__topMenu::-webkit-scrollbar {
    display: none;
}

.home__topMenuItems {
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
}
.home__topMenuItems:hover {
    background-color: #f7d5bd;
    border-radius: 50px;
    cursor: pointer;
    
}
.home__topMenu >div > img {
    object-fit: contain;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}
.home__topMenu >div > p {
    color: #f7d5bd;
}

.home__row {
    display: flex;
    z-index: -1;
    margin-left: 5px;
    margin-right: 5px;
    overflow-x: scroll;
}
.home__row::-webkit-scrollbar {
    display: none;
}
.home__rowTitle {
    margin-bottom: 8px;
    margin-left: 8px;
}
